# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd

# Virtual Environment
.venv/
venv/
env/

# VS Code
.vscode/

# Logs
logs/*.log

# Database
*.db
*.sqlite3

# Build
build/
dist/

# PyInstaller
*.spec

# Testing
.pytest_cache/
.coverage

# OS
.DS_Store
Thumbs.db